objs/*
objs/engine/*
objs/gamebase/*
!objs/engine/
!objs/gamebase/
dist/README-SDL.txt
dist/game
dist/game.exe
dist/game.ilk
dist/game.pdb
dist/client
dist/client.exe
dist/client.ilk
dist/client.pdb
dist/server
dist/server.exe
dist/server.ilk
dist/server.pdb
dist/SDL2.dll
dist/freetype-test
dist/freetype-test.*
scenes/show-meshes*
scenes/show-scene*
*.blend[0-9]
.vscode
sprites/MagicCastlevania