objs/*.obj
objs/*.o
objs/*.tmp
objs/test/*.o
dist/README-SDL.txt
dist/game
dist/game.exe
dist/game.ilk
dist/game.pdb
dist/client
dist/client.exe
dist/client.ilk
dist/client.pdb
dist/SDL2.dll
dist/freetype-test
dist/freetype-test.*
scenes/show-meshes*
scenes/show-scene*
*.blend[0-9]
.vscode
sprites/MagicCastlevania
sprites/Makefile.windows
.idea
CMakeLists.txt
cmake-build-debug/*
sprites/Makefile.windows
keyarts/
*.DS_Store
